Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django, markdownlint

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

djlint-reformat:
  run: uv run djlint --reformat --format-css {staged_files}
  stage_fixed: true

djlint-django:
  run: uv run djlint --lint {staged_files}
  stage_fixed: true

markdownlint:
  run: uv run rumdl check --fix --disable MD013 {staged_files}
  stage_fixed: true

docs: remove completed plausible events task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

docs: consolidate ai agent instructions
  .claude/CLAUDE.md
  .claude/docs
  .github/workflows/ci.yml
  AGENTS.md
  Justfile
  README.md
  ai/docs/CLAUDE.md
  ai/docs/django-stack.md
  ai/docs/grug-brain.md
  ai/docs/internationalisation-first.md
  ai/docs/security-simplicity.md
  ai/docs/template-development.md
  ai/rules/django-stack.mdc
  ai/rules/grug-brain.mdc
  ai/rules/internationalisation-first.mdc
  ai/rules/security-simplicity.mdc
  ai/rules/template-development.mdc
  dev/check_ai_links.py
Due: ruff, markdownlint

docs: remove completed ai instructions task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add security.txt route
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/views.py-tpl
Due: ruff

docs: remove completed security.txt task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: remove unnecessary tasks
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: remove backup task, will be part of centralised deployment repo
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: bump all pnpm packages
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
Due: none

fix: python typechecking
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/management/commands/export_user_data.py-tpl
Due: ruff

chore: python formatting and linting fixes backported
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/management/commands/export_user_data.py-tpl
Due: ruff

feat: add skill to backport linting and formatting changes into the template
  .agents/skills/template-backport/SKILL.md
  .agents/skills/template-backport/scripts/backport_check.py
  template-backport.skill
Due: ruff, markdownlint

chore: replace rumdl pyproject config with dedicated conf file
  .rumdl.toml
  pyproject.toml
Due: none

chore: update rumdl command in lefthook
  lefthook.yml
Due: none

chore: backport fixes
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/tokens/tests.py-tpl
  project_name/tests/factories.py-tpl
Due: ruff

fix: ruff linting fix for backport skill python file
  .agents/skills/template-backport/scripts/backport_check.py
Due: ruff

fix: tell ruff isort to separate out project_name imports
  pyproject.toml
Due: none

chore: backport fixes
  project_name/conftest.py-tpl
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/auth.py-tpl
  project_name/project_name/tokens/selectors.py-tpl
  project_name/project_name/tokens/services.py-tpl
  project_name/project_name/tokens/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/users/tests.py-tpl
  project_name/tests/factories.py-tpl
Due: ruff

chore: switch from djlint to djade for template formatting
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

chore: remove djlint
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

chore: remove djlint comments
  project_name/templates/allauth/elements/button.html
  project_name/templates/allauth/elements/h1.html
  project_name/templates/allauth/elements/h2.html
  project_name/templates/allauth/elements/p.html
  project_name/templates/mfa/recovery_codes/index.html
Due: djlint-reformat, djlint-django

enhancement: run the unit tests as part of the ansible project template test process
  dev/01-test-project-template.yaml
Due: none

feat: add skill to check django setup and migrations and backport fixes
  .agents/skills/template-django-check/SKILL.md
  .agents/skills/template-django-check/scripts/django_check.py
Due: ruff, markdownlint

fix: update github ci to use djade rather than djlint
  .github/workflows/ci.yml
Due: none

fix: try to get the djade ci running
  .github/workflows/ci.yml
Due: none

fix: update pnpm i18n to fix ci failing
  frontend/project_name/src/i18n/index.ts
Due: none

chore: exclude 'dist' directory from django-admin
  AGENTS.md
  README.md
  ai/docs/template-development.md
  dev/01-test-project-template.yaml
  dev/create_test_project.py
Due: ruff, markdownlint

fix: add missing GITLEAKS_LICENSE secret to githb ci
  .github/workflows/ci.yml
Due: none

docs: initial commit of context.md
  CONTEXT.md
Due: markdownlint

docs: update docs to reflect context.md terms
  README.md
  project_name/project_name/tenancy/README.md
Due: markdownlint

enhancement: team should have at most one owner
  project_name/project_name/tenancy/migrations/0003_teammembership_unique_team_owner.py
  project_name/project_name/tenancy/models.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
Due: ruff

docs: update context.md
  CONTEXT.md
Due: markdownlint

enhancement: at most one owner per team is enforced in service level
  CONTEXT.md
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
Due: ruff, markdownlint

feat: add services etc. to transfer team ownership
  CONTEXT.md
  project_name/project_name/core/models.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tenancy/views.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff, markdownlint

chore: add service selector refactor plan
  docs/SERVICE_SELECTOR_REFACTOR_PLAN.md
Due: markdownlint

fix: ansible project test playbook
  dev/01-test-project-template.yaml
  project_name/project_name/settings.py-tpl
Due: ruff

chore: update python to 3.14
  .python-version
  pyproject.toml
  uv.lock
Due: none

enhancement: get back on track with hack software styleguide
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/flags/decorators.py-tpl
  project_name/project_name/flags/services.py-tpl
  project_name/project_name/flags/templatetags/flags.py-tpl
  project_name/project_name/flags/tests.py-tpl
  project_name/project_name/tenancy/decorators.py-tpl
  project_name/project_name/tenancy/permissions.py-tpl
  project_name/project_name/tenancy/selectors.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/selectors.py-tpl
  project_name/project_name/tokens/services.py-tpl
  project_name/project_name/users/admin.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/management/commands/export_user_data.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/project_name/users/privacy_selectors.py-tpl
  project_name/project_name/users/privacy_services.py-tpl
  project_name/project_name/users/tasks.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff

fix: update backport skill to also run typecheck
  .agents/skills/template-backport/scripts/backport_check.py
Due: ruff

Path conditions:
  ruff: any of: *.py, *.py-tpl, but not: **/migrations/*.py
  djlint-reformat: any of: *.html, *.html-tpl
  djlint-django: any of: *.html, *.html-tpl
  markdownlint: any of: *.md, but not: ai/**, .specify/**, .cursor/**, .claude/**
