Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django, markdownlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
      exclude:
        - "**/migrations/*.py"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    markdownlint:
      run: uv run rumdl check --fix --disable MD013 {staged_files}
      stage_fixed: true
      glob:
        - "*.md"
      exclude:
        - "ai/**"
        - ".specify/**"
        - ".cursor/**"
        - ".claude/**"

feat: add sitemap and robots.txt to template
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/views.py-tpl
Due: ruff

docs: remove completed sitemap feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

fix: restrict trusted proxy header handling
  DEPLOYMENT.md
  SECURITY.md
  project_name/.env.dist
  project_name/project_name/core/audit.py-tpl
  project_name/project_name/core/middleware.py-tpl
  project_name/project_name/core/network.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff, markdownlint

docs: remove completed proxy trust feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

ci: add renovate and gitleaks checks
  .github/workflows/ci.yml
  renovate.json
Due: none

docs: clear completed p0 feedback tasks
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: add gitleaks to pre-commit hooks
  lefthook.yml
Due: none

docs: add gitleaks as a development prerequisite
  README.md
Due: markdownlint

chore: add ruff format to precommit hook
  lefthook.yml
Due: none

feat: add optional tracker consent gating
  project_name/project_name/core/consent.py-tpl
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/core/templatetags/core.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/pages/migrations/0003_seed_trust_pages.py
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/templates/base.html
  project_name/templates/components/consent.html
  project_name/templates/pages/page_detail.html
Due: ruff, djlint-reformat, djlint-django

docs: remove completed consent feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add django 6 csp and security headers
  project_name/project_name/core/middleware.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/templates/account/email.html
  project_name/templates/components/consent.html
  project_name/templates/mfa/authenticate.html
  project_name/templates/mfa/webauthn/add_form.html
  project_name/templates/mfa/webauthn/reauthenticate.html
  project_name/templates/mfa/webauthn/signup_form.html
  project_name/templates/mfa/webauthn/snippets/login_script.html
  project_name/templates/partials/chatwoot.html
  project_name/templates/partials/language-switcher.html
Due: ruff, djlint-reformat, djlint-django

docs: remove completed security headers feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add team vat identity capture
  project_name/project_name/billing/README.md
  project_name/project_name/core/models.py-tpl
  project_name/project_name/tenancy/admin.py-tpl
  project_name/project_name/tenancy/migrations/0002_team_vat_fields.py
  project_name/project_name/tenancy/models.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
Due: ruff, markdownlint

docs: remove completed vat feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

docs: document polar eu merchant-of-record posture
  project_name/docs/billing-eu.md
  project_name/project_name/billing/README.md
Due: markdownlint

docs: remove completed polar mor feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add legal updates subscriptions
  project_name/project_name/core/admin.py-tpl
  project_name/project_name/core/forms.py-tpl
  project_name/project_name/core/migrations/0005_newslettersignup_purpose.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/templates/core/email/newsletter_confirmation.txt
  project_name/project_name/core/templates/core/pages/newsletter/confirmed.html
  project_name/project_name/core/templates/core/pages/newsletter/signup.html
  project_name/project_name/core/templates/core/pages/newsletter/success.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/templates/pages/page_detail.html
Due: ruff, djlint-reformat, djlint-django

docs: remove completed legal updates feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: require recent reauth for sensitive api actions
  SECURITY.md
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/core/reauth.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/tests.py-tpl
Due: ruff, markdownlint

docs: remove completed reauth feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add security event email notifications
  SECURITY.md
  project_name/project_name/core/audit.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/signals.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/users/apps.py-tpl
  project_name/project_name/users/notifications.py-tpl
  project_name/project_name/users/templates/users/email/security_event.txt
Due: ruff, markdownlint

docs: remove completed security notification task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: rate limit public newsletter signup
  SECURITY.md
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff, markdownlint

docs: remove completed public rate limit task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add react island i18n bridge
  .claude/docs/internationalisation-first.md
  AGENTS.md
  README.md
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
  frontend/project_name/src/i18n/document.ts
  frontend/project_name/src/i18n/index.ts
  frontend/project_name/src/i18n/locales/de.json
  frontend/project_name/src/i18n/locales/en.json
  frontend/project_name/src/i18n/locales/es.json
  frontend/project_name/src/i18n/locales/fr.json
  frontend/project_name/src/i18n/locales/pt.json
  frontend/project_name/src/i18n/provider.tsx
  frontend/project_name/src/i18n/resources.ts
  frontend/project_name/src/i18n/use-app-translation.ts
  frontend/project_name/src/islands/registry.ts
  frontend/project_name/src/main.tsx
  frontend/project_name/tsconfig.app.json
  frontend/project_name/vite.config.ts
  project_name/docs/frontend-i18n.md
  project_name/project_name/core/templatetags/core.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/templates/base.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

docs: remove completed frontend i18n task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

docs: add new project checklist
  AGENTS.md
  README.md
  project_name/docs/NEW_PROJECT_CHECKLIST.md
Due: markdownlint

docs: remove completed new project checklist task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add audit event retention pruning
  Justfile
  SECURITY.md
  project_name/.env.dist
  project_name/project_name/core/management/commands/audit_prune.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff, markdownlint

docs: remove completed audit retention task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add user deletion grace period
  README.md
  project_name/.env.dist
  project_name/project_name/core/models.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/users/admin.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/migrations/0003_user_deletion_requested_at.py
  project_name/project_name/users/models.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/project_name/users/tasks.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff, markdownlint

docs: remove completed user deletion task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: split liveness and readiness health checks
  DEPLOYMENT.md
  README.md
  project_name/docs/NEW_PROJECT_CHECKLIST.md
  project_name/project_name/core/api/tests/test_v1.py-tpl
  project_name/project_name/core/health.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff, markdownlint

docs: remove completed health check task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

test: add shared factories and pytest fixtures
  project_name/conftest.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tokens/tests.py-tpl
  project_name/tests/factories.py-tpl
Due: ruff

docs: remove completed factories task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add shared transactional email foundation
  AGENTS.md
  README.md
  project_name/docs/NEW_PROJECT_CHECKLIST.md
  project_name/docs/transactional-email.md
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/templates/core/email/newsletter_confirmation.html
  project_name/project_name/core/templates/core/email/newsletter_confirmation.txt
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/users/emails.py-tpl
  project_name/project_name/users/notifications.py-tpl
  project_name/project_name/users/templates/users/email/security_event.html
  project_name/project_name/users/templates/users/email/security_event.txt
  project_name/templates/email/base.html
  project_name/templates/email/base.txt
  project_name/templates/tenancy/email/team_invitation.html
  project_name/templates/tenancy/email/team_invitation.txt
Due: ruff, djlint-reformat, djlint-django, markdownlint

docs: remove completed transactional email task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: add plausible conversion event hooks
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/core/analytics.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/signals.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/tests.py-tpl
Due: ruff
