Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"

docs: update README checklist with project principles and placeholder instructions
  README.md
Due: none

chore: format some speckit files
  ai/commands/speckit.clarify.md
  ai/commands/speckit.implement.md
Due: none

chore: update lefthook configuration to exclude specific directories from pre-commit checks
  lefthook.yml
Due: none

feat: replace flagsmith with our own internal feature flag model and caching for simplicity.
  project_name/project_name/flags/__init__.py-tpl
  project_name/project_name/flags/admin.py-tpl
  project_name/project_name/flags/apps.py-tpl
  project_name/project_name/flags/decorators.py-tpl
  project_name/project_name/flags/migrations/__init__.py-tpl
  project_name/project_name/flags/models.py-tpl
  project_name/project_name/flags/providers.py-tpl
  project_name/project_name/flags/services.py-tpl
  project_name/project_name/flags/templatetags/__init__.py-tpl
  project_name/project_name/flags/templatetags/flags.py-tpl
  project_name/project_name/flags/tests.py-tpl
  project_name/project_name/settings.py-tpl
  pyproject.toml
  uv.lock
Due: ruff

docs: update constitution with core principles and development workflow
  .specify/memory/constitution.md
Due: none

spec: implement Simple Organisation RBAC system
  specs/001-simple-org-rbac/COMPLETION_REPORT.md
  specs/001-simple-org-rbac/IMPLEMENTATION_SUMMARY.md
  specs/001-simple-org-rbac/checklists/requirements.md
  specs/001-simple-org-rbac/data-model.md
  specs/001-simple-org-rbac/plan.md
  specs/001-simple-org-rbac/quickstart.md
  specs/001-simple-org-rbac/research.md
  specs/001-simple-org-rbac/spec.md
  specs/001-simple-org-rbac/tasks.md
Due: none

docs: expand README with built-in RBAC features
  README.md
Due: none

chore: update dependencies and configuration in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

refactor: update settings for RBAC transition
  .vscode/settings.json
  project_name/project_name/organizations/README.md
  project_name/project_name/organizations/__init__.py-tpl
  project_name/project_name/organizations/admin.py-tpl
  project_name/project_name/organizations/apps.py-tpl
  project_name/project_name/organizations/decorators.py-tpl
  project_name/project_name/organizations/middleware.py-tpl
  project_name/project_name/organizations/migrations/__init__.py-tpl
  project_name/project_name/organizations/models.py-tpl
  project_name/project_name/organizations/predicates.py-tpl
  project_name/project_name/organizations/rules.py-tpl
  project_name/project_name/organizations/services.py-tpl
  project_name/project_name/organizations/templatetags/__init__.py-tpl
  project_name/project_name/organizations/templatetags/org_permissions.py-tpl
  project_name/project_name/organizations/tests.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff

spec: define all spec docs for adding polar.sh payment processing boilerplate
  .cursor/rules/specify-rules.mdc
  specs/002-add-polar-payments/checklists/requirements.md
  specs/002-add-polar-payments/contracts/webhooks.md
  specs/002-add-polar-payments/data-model.md
  specs/002-add-polar-payments/plan.md
  specs/002-add-polar-payments/quickstart.md
  specs/002-add-polar-payments/research.md
  specs/002-add-polar-payments/spec.md
  specs/002-add-polar-payments/tasks.md
Due: none

refactor: implement lazy loading for feature flag imports
  project_name/project_name/flags/__init__.py-tpl
  project_name/project_name/organizations/predicates.py-tpl
Due: ruff

docs: update internationalization guidelines and template tag usage
  .claude/docs/internationalisation-first.md
  .claude/docs/security-simplicity.md
  .specify/memory/constitution.md
  ai/rules/internationalisation-first.mdc
  specs/001-simple-org-rbac/COMPLETION_REPORT.md
  specs/001-simple-org-rbac/IMPLEMENTATION_SUMMARY.md
  specs/001-simple-org-rbac/quickstart.md
  specs/001-simple-org-rbac/research.md
  specs/002-add-polar-payments/tasks.md
Due: none

refactor: update template tag usage for consistency
  project_name/project_name/flags/templatetags/flags.py-tpl
  project_name/project_name/organizations/templatetags/org_permissions.py-tpl
  project_name/project_name/pages/templatetags/markdown_tags.py-tpl
Due: ruff

chore: add new template tags for improved rendering
  .vscode/settings.json
Due: none

feat: enhance billing integration and API for subscriptions
  README.md
  project_name/project_name/billing/README.md
  project_name/project_name/billing/__init__.py-tpl
  project_name/project_name/billing/admin.py-tpl
  project_name/project_name/billing/apps.py-tpl
  project_name/project_name/billing/migrations/__init__.py-tpl
  project_name/project_name/billing/models.py-tpl
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/__init__.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/organizations/README.md
  project_name/project_name/selectors.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff

docs: update README with project setup instructions
  README.md
Due: none

refactor: clean up unused lines in billing admin and apps templates
  project_name/project_name/billing/admin.py-tpl
  project_name/project_name/billing/apps.py-tpl
Due: ruff

chore: update package versions and add resolution markers in uv.lock
  uv.lock
Due: none

feat: add CSRF exemption for Polar webhook endpoint
  project_name/project_name/core/api/billing_v1.py-tpl
  specs/002-add-polar-payments/research.md
Due: ruff

refactor: remove CSRF exemption from Polar webhook endpoint
  project_name/project_name/core/api/billing_v1.py-tpl
Due: ruff

refactor: update slug handling in PageAdmin
  project_name/project_name/pages/admin.py-tpl
Due: ruff

chore: exclude migration files from pre-commit checks in lefthook configuration
  lefthook.yml
Due: none

chore: correct migration file exclusion pattern in lefthook configuration
  lefthook.yml
Due: none

feat: backporting migrations
  project_name/project_name/billing/migrations/0001_initial.py
  project_name/project_name/billing/migrations/0002_initial.py
  project_name/project_name/flags/migrations/0001_initial.py
  project_name/project_name/organizations/migrations/0001_initial.py
  project_name/project_name/organizations/migrations/0002_initial.py
  project_name/project_name/pages/migrations/0001_initial.py
  project_name/project_name/users/migrations/0001_initial.py
Due: ruff

chore: add werkzeug and pyopenssl dependencies
  pyproject.toml
  uv.lock
Due: none

chore: update README with project directory instruction
  README.md
Due: none

chore: add additional items to cleanup task in project template
  dev/01-test-project-template.yaml
Due: none

chore: remove outdated development guidelines file
  .cursor/rules/specify-rules.mdc
Due: none

chore: remove unused Flagsmith configuration from .env.dist
  project_name/.env.dist
Due: none

chore: update settings template to define FRONTEND_DIR
  project_name/project_name/settings.py-tpl
Due: ruff

fix: small fixes based on the creation of a new project
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/flags/decorators.py-tpl
  project_name/project_name/flags/providers.py-tpl
  project_name/templates/allauth/layouts/base.html
Due: ruff, djlint-reformat, djlint-django

chore: add custom_blocks configuration to djlint settings
  pyproject.toml
Due: none

chore: update cSpell configuration in VSCode settings
  .vscode/settings.json
Due: none

fix: small lint fixes
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/pages/models.py-tpl
Due: ruff

refactor: remove unnecessary closing tags in authenticator_list.html for cleaner template structure
  project_name/templates/mfa/webauthn/authenticator_list.html
Due: djlint-reformat, djlint-django

chore: update .gitignore to include additional directories and files
  frontend/project_name/.gitignore
Due: none

chore: update VSCode settings and package dependencies
  .vscode/settings.json
  frontend/project_name/.vscode/settings.json
  frontend/project_name/biome.json
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
Due: none

docs: enhance clean code guidelines in clean-code.mdc
  ai/rules/clean-code.mdc
Due: none

chore: bump all dependencies@
  uv.lock
Due: none
