Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django, markdownlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
      exclude:
        - "**/migrations/*.py"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    markdownlint:
      run: uv run rumdl check --fix --disable MD013 {staged_files}
      stage_fixed: true
      glob:
        - "*.md"
      exclude:
        - "ai/**"
        - ".specify/**"
        - ".cursor/**"
        - ".claude/**"

chore: complete feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: add placeholder p0 to template feedback task list
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: pricing page now is dynamic rather than hard coded
  README.md
  project_name/project_name/billing/README.md
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/core/templates/core/pages/pricing.html
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/selectors.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/tests/test_pricing.py-tpl
Due: ruff, djlint-reformat, djlint-django, markdownlint

feat: better currency formatting
  README.md
  project_name/project_name/billing/README.md
  project_name/project_name/billing/formatting.py-tpl
  project_name/project_name/core/templates/core/pages/pricing.html
  project_name/project_name/selectors.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/views.py-tpl
  pyproject.toml
  uv.lock
Due: ruff, djlint-reformat, djlint-django, markdownlint

enhancement: clarify tax & billing
  README.md
  project_name/project_name/billing/README.md
  project_name/project_name/core/templates/core/pages/pricing.html
  project_name/project_name/tests.py-tpl
Due: ruff, djlint-reformat, djlint-django, markdownlint

enhancement: add double opt-in to email newsletter for gdpr
  README.md
  project_name/.env.dist
  project_name/project_name/core/admin.py-tpl
  project_name/project_name/core/forms.py-tpl
  project_name/project_name/core/migrations/0002_newslettersignup_double_opt_in.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/templates/core/email/newsletter_confirmation.txt
  project_name/project_name/core/templates/core/pages/newsletter/confirmed.html
  project_name/project_name/core/templates/core/pages/newsletter/signup.html
  project_name/project_name/core/templates/core/pages/newsletter/success.html
  project_name/project_name/core/templates/core/partials/newsletter/signup.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/tests/test_newsletter.py-tpl
Due: ruff, djlint-reformat, djlint-django, markdownlint

enhancement: add double opt-in email sending cooldown to avoid spam
  README.md
  project_name/.env.dist
  project_name/project_name/core/admin.py-tpl
  project_name/project_name/core/migrations/0003_newslettersignup_confirmation_email_sent_at.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff, markdownlint

enhancement: add placeholders for terms, privacy, security and subprocessor pages
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/pages/migrations/0003_seed_trust_pages.py
  project_name/project_name/pages/tests.py-tpl
Due: ruff, djlint-reformat, djlint-django

docs: update agents and readme
  AGENTS.md
  README.md
Due: markdownlint

feat: add user data export & deletion
  README.md
  project_name/project_name/users/admin.py-tpl
  project_name/project_name/users/management/__init__.py-tpl
  project_name/project_name/users/management/commands/__init__.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/management/commands/export_user_data.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff, markdownlint

enhancement: add audit trail for django hijack
  README.md
  SECURITY.md
  project_name/project_name/core/admin.py-tpl
  project_name/project_name/core/apps.py-tpl
  project_name/project_name/core/audit.py-tpl
  project_name/project_name/core/migrations/0004_auditevent.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/signals.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/users/admin.py-tpl
  project_name/project_name/users/management/commands/delete_user_data.py-tpl
  project_name/project_name/users/management/commands/export_user_data.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff, markdownlint

enhancement: have a base.html and app_base.html to separate out marketing and app pages
  README.md
  project_name/project_name/core/templates/core/pages/dashboard.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/users/tests.py-tpl
  project_name/templates/app_base.html
  project_name/templates/base.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

docs: document deployment strategy
  DEPLOYMENT.md
  README.md
Due: markdownlint

feat: add subprocessors placeholder page
  README.md
  project_name/project_name/pages/migrations/0003_seed_trust_pages.py
  project_name/project_name/pages/tests.py-tpl
Due: ruff, markdownlint

feat: extend audit log
  README.md
  SECURITY.md
  project_name/project_name/core/audit.py-tpl
  project_name/project_name/core/models.py-tpl
  project_name/project_name/core/signals.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tokens/services.py-tpl
  project_name/project_name/tokens/tests.py-tpl
  project_name/project_name/users/privacy.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff, markdownlint

enhancement: add some basic logging and metrics signals
  DEPLOYMENT.md
  README.md
  project_name/.env.dist
  project_name/project_name/core/middleware.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
Due: ruff, markdownlint

chore: remove incorrect commands
  .claude/docs/django-stack.md
  Justfile
  README.md
Due: markdownlint

enhancement: add basic help/support center
  README.md
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/pages/migrations/0004_seed_support_pages.py-tpl
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/pages/urls.py-tpl
  project_name/project_name/pages/views.py-tpl
  project_name/templates/pages/support_index.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

enhancement: extend FAQ section with placeholders and ability to feature on homepage
  README.md
  project_name/project_name/core/templates/core/pages/homepage.html
  project_name/project_name/pages/faq.py-tpl
  project_name/project_name/pages/migrations/0005_seed_customer_faq_starters.py-tpl
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/pages/views.py-tpl
  project_name/project_name/views.py-tpl
  project_name/templates/pages/support_index.html
  project_name/templates/partials/featured_faqs.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

docs: document billing responsibility for bookkeeping
  README.md
  project_name/project_name/billing/README.md
Due: markdownlint

enhancement: verify new project checklist
  README.md
  project_name/templates/pages/support_index.html
Due: djlint-reformat, djlint-django, markdownlint

chore: add new feedback tasks
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: specify explicity to use django 6 csp
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

chore: explicity update backup task to use borg + borgmatic.
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint
