Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"

chore: README update
  README.md
Due: none

chore: remove unnecessary packages
  pyproject.toml
  uv.lock
Due: none

chore: update VSCode settings to include Emmet support for Django HTML
  .vscode/settings.json
Due: none

chore: remove .cursorrules file to streamline project documentation and enhance maintainability
  .cursor/rules/clean-code.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/django-all.mdc
  .cursor/rules/django-models.mdc
  .cursor/rules/django-services.mdc
  .cursor/rules/python.mdc
  .cursorrules
Due: none

feat: add a frontend js + react application
  frontend/project_name/.gitignore
  frontend/project_name/eslint.config.js
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
  frontend/project_name/src/App.tsx
  frontend/project_name/src/main.tsx
  frontend/project_name/src/tailwind.css
  frontend/project_name/src/vite-env.d.ts
  frontend/project_name/tsconfig.app.json
  frontend/project_name/tsconfig.json
  frontend/project_name/tsconfig.node.json
  frontend/project_name/vite.config.ts
Due: none

feat: add tailwind cursor rules
  .cursor/rules/tailwind.mdc
Due: none

feat: add react cursor rules
  .cursor/rules/react.mdc
Due: none

chore: remove django_htmx and django_prometheus from settings to streamline middleware and installed apps
  project_name/project_name/settings.py-tpl
Due: ruff

feat: integrate Vite for asset management and update settings for static files
  frontend/project_name/vite.config.ts
  project_name/project_name/settings.py-tpl
  project_name/templates/base.html
Due: ruff, djlint-reformat, djlint-django

chore: remove htmx.min.js from static files and update base template
  project_name/project_name/core/static/core/js/htmx.min.js
  project_name/templates/base.html
Due: djlint-reformat, djlint-django

feat: add Whitenoise immutable file test for Vite asset management
  project_name/project_name/settings.py-tpl
Due: ruff

chore: add .env.dist file to provide a template for environment variables
  .gitignore
  project_name/.env.dist
Due: none

feat: enhance justfile with frontend build and install commands
  justfile
Due: none

feat: integrate Tailwind CSS and DaisyUI into the project
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
  frontend/project_name/pnpm-workspace.yaml
  frontend/project_name/src/tailwind.css
  frontend/project_name/vite.config.ts
Due: none

chore: remove unused CSS import from main entry file
  frontend/project_name/src/main.tsx
Due: none

chore: remove pre-commit configuration file as it is no longer needed
  .pre-commit-config.yaml
Due: none

chore: update clean code and code quality guidelines for clarity and consistency
  .cursor/rules/clean-code.mdc
  .cursor/rules/code-quality.mdc
Due: none

chore: update README to reflect changes in environment variable file naming from .env.template to .env.dist
  README.md
Due: none

chore: update README to change file extension from 'json' to 'dist' in project setup commands
  README.md
Due: none

chore: remove OpenTelemetry instrumentation from manage.py template
  project_name/manage.py-tpl
Due: ruff

chore: update justfile to use project_name variable for working directories and commands
  justfile
Due: none

chore: update README to correct Justfile naming and exclude additional directories in project setup commands
  README.md
Due: none

chore: update pyproject.toml to use project_name variable and specify Python version requirement
  pyproject.toml
Due: none

chore: update pyproject.toml to include additional dependencies and improve project configuration
  .python-version
Due: none

chore: update uv.lock to require Python 3.13 and remove deprecated wheel entries for Python 3.12
  uv.lock
Due: none

chore: update pyproject.toml to set project name directly and ensure compatibility with Python 3.13
  pyproject.toml
Due: none

chore: add pytest and pytest-django dependencies to pyproject.toml and uv.lock for improved testing support
  pyproject.toml
  uv.lock
Due: none

feat: add startapp template for creating new apps in the project template
  app_name/README.md
  app_name/__init__.py-tpl
  app_name/admin.py-tpl
  app_name/apps.py-tpl
  app_name/migrations/__init__.py-tpl
  app_name/models.py-tpl
  app_name/selectors.py-tpl
  app_name/services.py-tpl
  app_name/tests.py-tpl
  app_name/views.py-tpl
  example_app/tests.py-tpl
Due: ruff

chore: update dependencies in pyproject.toml and uv.lock to include django-vite. add pytest config.
  pyproject.toml
  uv.lock
Due: none

fix: update startapp command in Justfile to use project_name variable and specify app directory structure
  justfile
Due: none

chore: remove djangoPolyglot from installed apps in settings template
  project_name/project_name/settings.py-tpl
Due: ruff

fix: import StreamField from wagtail.fields in marketing models template
  project_name/project_name/marketing/models.py-tpl
Due: ruff

feat: enhance Justfile with new dev installation targets and HTTPS support for the development server
  justfile
Due: none

docs: update README with new setup instructions, clarify app creation process, and enhance development prerequisites
  README.md
Due: none

docs: clarify Playwright usage in README by specifying it as an end-to-end testing tool
  README.md
Due: none

chore: switch back from pytest to django unittest
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: none

refactor: remove unused product and price factories, and clean up selectors and URL configurations
  project_name/project_name/selectors.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff

feat: add newsletter signup URLs, update settings for HTTP usage, and clean up unused code in templates and tests
  project_name/.env.dist
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/core/templates/core/partials/header.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff, djlint-reformat, djlint-django

refactor: update comment in settings template to clarify usage for Gemini
  project_name/project_name/settings.py-tpl
Due: ruff

docs: update README with additional setup step for collecting static files before running tests
  README.md
Due: none
