Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django, markdownlint

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

djlint-reformat:
  run: uv run djlint --reformat --format-css {staged_files}
  stage_fixed: true

djlint-django:
  run: uv run djlint --lint {staged_files}
  stage_fixed: true

markdownlint:
  run: uv run rumdl check --fix --disable MD013 {staged_files}
  stage_fixed: true

enhancement: refactor some services & selectors
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/core/newsletter_services.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/pages/faq.py-tpl
  project_name/project_name/pages/faq_selectors.py-tpl
  project_name/project_name/pages/views.py-tpl
  project_name/project_name/views.py-tpl
Due: ruff

enhancement: refactor some services & selectors
  project_name/project_name/core/newsletter.py-tpl
  project_name/project_name/pages/faq.py-tpl
  project_name/project_name/selectors.py-tpl
  project_name/project_name/users/privacy.py-tpl
Due: ruff

fix: update python version also on ci
  .github/workflows/ci.yml
Due: none

docs: docs updates
  README.md
  SECURITY.md
  project_name/project_name/billing/README.md
  project_name/project_name/tenancy/README.md
Due: markdownlint

fix: python version in ci
  .github/workflows/ci.yml
Due: none

docs: remove service selector refactor plan
  docs/SERVICE_SELECTOR_REFACTOR_PLAN.md
Due: markdownlint

chore: update dockerfile python to 3.14
  docker/Dockerfile.prod
Due: none

chore: minor type additions
  project_name/project_name/pages/models.py-tpl
  project_name/project_name/tenancy/managers.py-tpl
  project_name/project_name/tokens/models.py-tpl
Due: ruff

fix: add missing wording-directory to justfile
  Justfile
Due: none

docs: add info on domain language to agents.md
  AGENTS.md
Due: markdownlint

enhancement: add django_admins setting to ansible test project
  dev/01-test-project-template.yaml
Due: none

docs: update context with detailed design terminology
  CONTEXT.md
Due: markdownlint

docs: add design implementation adr and checklist
  docs/DESIGN_SYSTEM_IMPLEMENTATION_CHECKLIST.md
  docs/adr/0001-adopt-a-django-first-css-token-design-system.md
Due: markdownlint

feat(ui): add design system foundation
  frontend/project_name/src/styles/base.css
  frontend/project_name/src/styles/components.css
  frontend/project_name/src/styles/layout.css
  frontend/project_name/src/styles/patterns.css
  frontend/project_name/src/styles/tokens.css
  frontend/project_name/src/tailwind.css
  project_name/project_name/core/templates/core/pages/dashboard.html
  project_name/project_name/core/templates/core/pages/homepage.html
  project_name/project_name/core/templates/core/pages/pricing.html
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/core/templates/core/partials/header.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/templates/allauth/elements/alert.html
  project_name/templates/allauth/elements/button.html
  project_name/templates/allauth/elements/button_group.html
  project_name/templates/allauth/elements/field.html
  project_name/templates/allauth/elements/form.html
  project_name/templates/allauth/elements/hr.html
  project_name/templates/allauth/elements/p.html
  project_name/templates/allauth/elements/panel.html
  project_name/templates/allauth/elements/provider.html
  project_name/templates/allauth/elements/provider_list.html
  project_name/templates/allauth/layouts/base.html
  project_name/templates/app_base.html
  project_name/templates/base.html
  project_name/templates/components/consent.html
  project_name/templates/pages/base_page.html
  project_name/templates/pages/page_detail.html
  project_name/templates/pages/support_index.html
  project_name/templates/partials/brand.html
  project_name/templates/partials/consent.html
  project_name/templates/partials/faq-item.html
  project_name/templates/partials/featured_faqs.html
  project_name/templates/partials/language-switcher.html
  project_name/templates/partials/theme-switcher.html
Due: ruff, djlint-reformat, djlint-django

test(e2e): add generated-project design checks
  e2e/.gitignore
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/run_generated_project.py
  e2e/tests/design-foundation.spec.ts
  e2e/tsconfig.json
Due: ruff, markdownlint

feat(ui): expand app shell patterns
  docs/DESIGN_SYSTEM_IMPLEMENTATION_CHECKLIST.md
  frontend/project_name/src/styles/components.css
  frontend/project_name/src/styles/layout.css
  frontend/project_name/src/styles/patterns.css
  project_name/project_name/core/templates/core/pages/dashboard.html
  project_name/project_name/core/templatetags/core.py-tpl
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/views.py-tpl
  project_name/templates/app_base.html
  project_name/templates/partials/app-shell-navigation.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

feat(ui): unify feedback primitives
  docs/DESIGN_SYSTEM_IMPLEMENTATION_CHECKLIST.md
  e2e/run_generated_project.py
  e2e/tests/design-foundation.spec.ts
  frontend/project_name/src/styles/components.css
  frontend/project_name/src/styles/patterns.css
  project_name/project_name/core/tests.py-tpl
  project_name/templates/allauth/elements/alert.html
  project_name/templates/allauth/elements/badge.html
  project_name/templates/allauth/elements/button.html
  project_name/templates/allauth/layouts/base.html
  project_name/templates/base.html
  project_name/templates/partials/messages.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

feat(ui): add form overlays primitives
  e2e/tests/design-foundation.spec.ts
  frontend/project_name/src/styles/components.css
  project_name/project_name/core/tests.py-tpl
  project_name/templates/allauth/elements/form.html
  project_name/templates/partials/destructive-confirm.html
  project_name/templates/partials/dialog.html
  project_name/templates/partials/form-errors.html
Due: ruff, djlint-reformat, djlint-django

feat(ui): add domain starter patterns
  docs/DESIGN_SYSTEM_IMPLEMENTATION_CHECKLIST.md
  e2e/tests/design-foundation.spec.ts
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/tenancy/selectors.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tenancy/views.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/templates/partials/app-shell-navigation.html
  project_name/templates/tenancy/partials/billing_summary.html
  project_name/templates/tenancy/team_settings.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

docs: add customization guide and clean Cotton references
  README.md
  ai/docs/CLAUDE.md
  ai/docs/django-stack.md
  ai/docs/template-development.md
  docs/DESIGN_SYSTEM_CUSTOMIZATION_GUIDE.md
  docs/DESIGN_SYSTEM_IMPLEMENTATION_CHECKLIST.md
  project_name/components/README.md
Due: markdownlint

Path conditions:
  ruff: any of: *.py, *.py-tpl, but not: **/migrations/*.py
  djlint-reformat: any of: *.html, *.html-tpl
  djlint-django: any of: *.html, *.html-tpl
  markdownlint: any of: *.md, but not: ai/**, .specify/**, .cursor/**, .claude/**
