Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"

chore: update Python version to 3.14 and adjust dependencies in pyproject.toml and uv.lock to reflect the new version
  .python-version
  pyproject.toml
  uv.lock
Due: none

chore: downgrade Python version to 3.13 and update dependencies in pyproject.toml
  .python-version
  pyproject.toml
Due: none

docs: update README to reflect changes in testing commands, caching layer, and marketing features
  README.md
Due: none

chore: downgrade Python requirement to 3.13, update package dependencies including replacing 'anyascii' with 'anyio', and add new packages 'attrs', 'botocore', and 'wrapt'
  uv.lock
Due: none

chore: remove unused marketing templates, models, views, and migrations to streamline the project structure
  project_name/project_name/marketing/__init__.py-tpl
  project_name/project_name/marketing/admin.py-tpl
  project_name/project_name/marketing/apps.py-tpl
  project_name/project_name/marketing/metadata.py-tpl
  project_name/project_name/marketing/migrations/0001_initial.py-tpl
  project_name/project_name/marketing/migrations/0002_homepage_benefits_homepage_benefits_disabled_and_more.py-tpl
  project_name/project_name/marketing/migrations/0003_homepage_search_image.py-tpl
  project_name/project_name/marketing/migrations/__init__.py-tpl
  project_name/project_name/marketing/models.py-tpl
  project_name/project_name/marketing/templates/marketing/home_page.html
  project_name/project_name/marketing/tests.py-tpl
  project_name/project_name/marketing/views.py-tpl
Due: ruff, djlint-reformat, djlint-django

feat: add unit and end-to-end test commands to justfile, and improve migration cleanup process by excluding virtual environment files
  justfile
Due: none

feat: add plausible analytics inclusion tag and corresponding HTML template for enhanced tracking capabilities
  project_name/project_name/core/templatetags/core.py-tpl
  project_name/templates/partials/plausible.html
Due: ruff, djlint-reformat, djlint-django

feat: update docker-compose configuration to build app from Dockerfile, add environment variables, and configure cache service with DragonflyDB
  docker-compose.yaml
Due: none

chore: update VSCode settings to enhance spell checking and formatting configurations, including the addition of new words and adjustments to language associations
  .vscode/settings.json
Due: none

chore: add lucide-react dependency to package.json and update pnpm-lock.yaml to reflect the new version
  frontend/project_name/package.json
  frontend/project_name/pnpm-lock.yaml
Due: none

feat: include plausible analytics tag in base HTML template for improved tracking
  project_name/templates/base.html
Due: djlint-reformat, djlint-django

feat: add end-to-end testing setup with Playwright, including configuration, test scripts, and initial test case for homepage rendering
  project_name/tests/e2e/.gitignore
  project_name/tests/e2e/package.json
  project_name/tests/e2e/playwright.config.ts
  project_name/tests/e2e/pnpm-lock.yaml
  project_name/tests/e2e/tests/onboarding.spec.ts
  project_name/tests/e2e/tsconfig.json
Due: none

chore: format package.json for consistency and readability by adjusting indentation
  project_name/tests/e2e/package.json
Due: none

fix: update FAQ item template to use rendered_answer and improve accessibility with data-testid attribute
  project_name/templates/partials/faq-item.html
  project_name/templates/partials/faq-list.html
Due: djlint-reformat, djlint-django

feat: introduce Justfile for development automation, update docker-compose to use project_name variable, and refine README for clarity on project_name usage
  Justfile
  README.md
  docker-compose.yaml
  docker/Dockerfile.prod
  frontend/project_name/package.json
  project_name/tests/e2e/package.json
Due: none

chore: update Django version to 5.2.8, rename .env.template to .env.dist, and refine project template exclusions for improved project setup
  dev/01-test-project-template.yaml
Due: none

chore: expand .env.dist with additional configuration options for Redis, Scaleway, AWS, Plausible, Flagsmith, and Polar.sh
  project_name/.env.dist
Due: none

chore: update VSCode settings to include additional words for spell checking, enhancing development experience
  .vscode/settings.json
Due: none

chore: update VSCode settings to include 'Quadlet' in spell check words, improving development experience
  .vscode/settings.json
Due: none

chore: update VSCode settings to include 'pyrefly', 'pytest', and 'staticfiles' in spell check words, enhancing development experience
  .vscode/settings.json
Due: none

chore: update README to refine project setup instructions, enhance clarity on app template usage, and adjust todo comments for consistency
  README.md
Due: none

feat: add DEPLOYMENT and MOTIVATION documentation to outline production architecture, deployment strategies, and project goals for SaaS development
  DEPLOYMENT.md
  MOTIVATION.md
  README.md
Due: none

chore: remove app_name clutter
  app_name/README.md
  app_name/__init__.py-tpl
  app_name/admin.py-tpl
  app_name/apps.py-tpl
  app_name/migrations/__init__.py-tpl
  app_name/models.py-tpl
  app_name/selectors.py-tpl
  app_name/services.py-tpl
  app_name/tests.py-tpl
  app_name/views.py-tpl
Due: ruff

chore: add httpx dependency to pyproject.toml and update lock file to include version specification
  pyproject.toml
  uv.lock
Due: none

chore: update VSCode settings to include 'locmemcache' in spell check words, enhancing development experience
  .vscode/settings.json
Due: none

chore: update Justfile to standardize working-directory syntax for consistency across test and management commands
  Justfile
Due: none

chore: update .env.dist and settings.py-tpl to rename Redis URL to CACHE_DEFAULT_URL and enhance logging configuration with structured logging support
  project_name/.env.dist
  project_name/project_name/settings.py-tpl
Due: ruff

chore: remove PIPENV_VENV_IN_PROJECT setting from Justfile and update command to use 'just install-dev' for dependency installation
  dev/01-test-project-template.yaml
Due: none

feat: implement logging configuration listener in CoreConfig and update logging utility to start JSON file listener
  project_name/project_name/core/apps.py-tpl
  project_name/project_name/utils/log.py-tpl
Due: ruff

refactor: simplify URL routing by removing Wagtail paths and updating homepage link in header template
  project_name/project_name/core/templates/core/partials/header.html
  project_name/project_name/urls.py-tpl
Due: ruff, djlint-reformat, djlint-django

docs: add comprehensive AI Agent Guide to document template structure, development workflow, and conventions for Django project template
  AGENTS.md
Due: none

chore: remove outdated Django conventions file and add new guidelines for Django stack, Grug brain philosophy, and security principles
  .cursor/rules/django-all.mdc
  .cursor/rules/django-stack.mdc
  .cursor/rules/grug-brain.mdc
  .cursor/rules/python.mdc
  .cursor/rules/react.mdc
  .cursor/rules/security-simplicity.mdc
  .cursor/rules/tailwind.mdc
  .cursor/rules/template-development.mdc
Due: none

Update VSCode cSpell words in settings.json
  .vscode/settings.json
Due: none

chore: Add markdownlint hook for Markdown files
  lefthook.yml
Due: none

fix: exclude line length rule in markdown lint precommit
  lefthook.yml
Due: none

chore: add rumdl config to pyproject.toml
  pyproject.toml
Due: none

chore: add ai tool config for claude code
  .claude/CLAUDE.md
  .claude/docs/django-stack.md
  .claude/docs/grug-brain.md
  .claude/docs/security-simplicity.md
  .claude/docs/template-development.md
  AGENTS.md
  dev/README.md
  project_name/components/README.md
Due: none

chore: add claude settings
  .claude/settings.json
Due: none

chore: Add concise Claude output style
  .claude/output-styles/concise.md
  .claude/settings.json
Due: none

fix: Update README and test for .rumdl_cache exclusion
  README.md
  dev/01-test-project-template.yaml
Due: none
