Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff:
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
      glob:
        - "*.py"
        - "*.py-tpl"
    djlint-reformat:
      run: uv run djlint --reformat --format-css {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"
    djlint-django:
      run: uv run djlint --lint {staged_files}
      stage_fixed: true
      glob:
        - "*.html"
        - "*.html-tpl"

chore: add rumdl to spelling
  .vscode/settings.json
Due: none

chore: update dependencies in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: enhance Docker setup and add CI workflow
  .github/workflows/ci.yml
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

docs: add initial Product Overview document
  docs/PRODUCT_OVERVIEW.md
Due: none

docs: update AGENTS.md with project overview and template editing guidelines
  AGENTS.md
Due: none

chore: remove unused initial migration template for User model
  project_name/project_name/users/migrations/0001_initial.py-tpl
Due: ruff

feat: add BaseModel for consistent timestamp management
  project_name/project_name/utils/models.py-tpl
Due: ruff

feat: add Chatwoot widget integration
  project_name/project_name/core/templatetags/core.py-tpl
  project_name/templates/partials/chatwoot.html
Due: ruff, djlint-reformat, djlint-django

feat: enhance User model with onboarding and preferences fields
  project_name/project_name/users/models.py-tpl
Due: ruff

feat: update settings.py-tpl with Chatwoot and Celery configurations
  project_name/project_name/settings.py-tpl
Due: ruff

feat: add product_list function to selectors.py-tpl
  project_name/project_name/selectors.py-tpl
Due: ruff

feat: integrate Chatwoot widget in base template
  project_name/templates/base.html
Due: djlint-reformat, djlint-django

feat: add psycopg dependency with connection pooling support
  pyproject.toml
  uv.lock
Due: none

feat: update .env.dist for PostgreSQL database configuration
  project_name/.env.dist
Due: none

feat: add PostGIS to VSCode settings for enhanced geospatial support
  .vscode/settings.json
Due: none

feat: add Celery integration for asynchronous task management
  project_name/project_name/__init__.py-tpl
  project_name/project_name/celery.py-tpl
Due: ruff

feat: add internationalization guidelines and rules for Django
  .claude/docs/internationalisation-first.md
  .cursor/rules/internationalisation-first.mdc
  AGENTS.md
Due: none

feat: add delete_user task for user management
  project_name/project_name/users/tasks.py-tpl
Due: ruff

feat: add django-parler dependency for multilingual support
  pyproject.toml
  uv.lock
Due: none

feat: implement pages app for marketing landing pages with multilingual support and admin interface
  project_name/project_name/pages/__init__.py-tpl
  project_name/project_name/pages/admin.py-tpl
  project_name/project_name/pages/apps.py-tpl
  project_name/project_name/pages/migrations/__init__.py-tpl
  project_name/project_name/pages/sitemaps.py-tpl
  project_name/project_name/pages/templatetags/__init__.py-tpl
  project_name/project_name/pages/urls.py-tpl
  project_name/project_name/pages/views.py-tpl
Due: ruff

feat: add Page model for marketing landing pages with publishing and multilingual support
  project_name/project_name/pages/models.py-tpl
Due: ruff

feat: enhance URL routing with internationalization support
  project_name/project_name/urls.py-tpl
Due: ruff

feat: add parler to VSCode settings for multilingual support
  .vscode/settings.json
Due: none

feat: add markdown template tags for rendering markdown content in templates
  project_name/project_name/pages/templatetags/markdown_tags.py-tpl
Due: ruff

feat: create base template for marketing pages with multilingual support
  project_name/templates/pages/base_page.html
Due: djlint-reformat, djlint-django

feat: add page detail template for displaying individual pages
  project_name/templates/pages/page_detail.html
Due: djlint-reformat, djlint-django

feat: update settings for multilingual support with django-parler
  project_name/project_name/settings.py-tpl
Due: ruff

feat: update VSCode settings for enhanced template support
  .vscode/settings.json
Due: none

feat: add pydantic dependency for data validation
  pyproject.toml
  uv.lock
Due: none

docs: update deployment documentation for search integration
  DEPLOYMENT.md
Due: none

feat: add frontend designer skill guidelines
  ai/skills/frontend-designer/SKILL.md
Due: none

chore: update VSCode settings for spell check enhancements
  .vscode/settings.json
Due: none

docs: update README with environment variable configuration step
  README.md
Due: none

docs: expand frontend designer skill guidelines with aesthetic options
  ai/skills/frontend-designer/SKILL.md
Due: none

feat: add AI folder linking command to Justfile
  Justfile
Due: none

feat: introduce foundational scripts and templates for Spec-Driven Development
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

chore: remove outdated code quality and clean code guidelines
  .cursor/rules/clean-code.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/django-models.mdc
  .cursor/rules/django-services.mdc
  .cursor/rules/django-stack.mdc
  .cursor/rules/grug-brain.mdc
  .cursor/rules/internationalisation-first.mdc
  .cursor/rules/python.mdc
  .cursor/rules/react.mdc
  .cursor/rules/security-simplicity.mdc
  .cursor/rules/tailwind.mdc
  .cursor/rules/template-development.mdc
Due: none

feat: introduce new AI command files for project management
  ai/commands/speckit.analyze.md
  ai/commands/speckit.checklist.md
  ai/commands/speckit.clarify.md
  ai/commands/speckit.constitution.md
  ai/commands/speckit.implement.md
  ai/commands/speckit.plan.md
  ai/commands/speckit.specify.md
  ai/commands/speckit.tasks.md
  ai/commands/speckit.taskstoissues.md
  ai/rules/clean-code.mdc
  ai/rules/code-quality.mdc
  ai/rules/django-models.mdc
  ai/rules/django-services.mdc
  ai/rules/django-stack.mdc
  ai/rules/grug-brain.mdc
  ai/rules/internationalisation-first.mdc
  ai/rules/python.mdc
  ai/rules/react.mdc
  ai/rules/security-simplicity.mdc
  ai/rules/tailwind.mdc
  ai/rules/template-development.mdc
Due: none

refactor: enhance ai-link command in Justfile for improved directory structure
  Justfile
Due: none
