Repository braw-dev/django_project_template: changes, and which lefthook commands are due for each by the changed paths.
All: ruff, djlint-reformat, djlint-django, markdownlint

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

djlint-reformat:
  run: uv run djlint --reformat --format-css {staged_files}
  stage_fixed: true

djlint-django:
  run: uv run djlint --lint {staged_files}
  stage_fixed: true

markdownlint:
  run: uv run rumdl check --fix --disable MD013 {staged_files}
  stage_fixed: true

feat: add script to check dependencies in the template
  .claude/docs/template-development.md
  .claude/settings.local.json
  dev/02-check-dependencies.sh
Due: none

feat: replace django-environ with pydantic-settings
  DEPLOYMENT.md
  README.md
  ai/rules/django-stack.mdc
  dev/01-test-project-template.yaml
  dev/02-check-dependencies.sh
  project_name/.env.dist
  project_name/project_name/settings.py-tpl
  pyproject.toml
  specs/002-add-polar-payments/research.md
  specs/002-add-polar-payments/spec.md
  uv.lock
Due: ruff, markdownlint

chore: replace mypy with ty
  .github/workflows/ci.yml
  Justfile
  README.md
  ai/rules/django-services.mdc
  dev/02-check-dependencies.sh
  pyproject.toml
  uv.lock
Due: markdownlint

chore: tweak ty implementation
  .github/workflows/ci.yml
  Justfile
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/flags/providers.py-tpl
  project_name/project_name/organizations/services.py-tpl
  project_name/project_name/organizations/templatetags/org_permissions.py-tpl
  project_name/project_name/pages/models.py-tpl
  project_name/project_name/users/models.py-tpl
  project_name/project_name/utils/models.py-tpl
Due: ruff

feat: use secretstr in settings where relevant
  project_name/project_name/settings.py-tpl
Due: ruff

feat: auth tweaks
  compose.dev.yaml
  compose.yaml
  dev/01-test-project-template.yaml
  project_name/project_name/organizations/admin.py-tpl
  project_name/project_name/organizations/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/users/admin.py-tpl
  project_name/project_name/users/middleware.py-tpl
  project_name/project_name/users/migrations/0001_initial.py
  project_name/project_name/users/models.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff

fix: update and fix tests
  project_name/project_name/flags/providers.py-tpl
  project_name/project_name/organizations/rules.py-tpl
Due: ruff

fix: get pytest working
  AGENTS.md
  Justfile
  README.md
  project_name/project_name/settings.py-tpl
  pyproject.toml
  uv.lock
Due: ruff, markdownlint

feat: replace org multi-tenancy with simpler team and role multi-tenancy
  README.md
  SECURITY.md
  project_name/.env.dist
  project_name/project_name/billing/README.md
  project_name/project_name/billing/admin.py-tpl
  project_name/project_name/billing/migrations/0002_initial.py
  project_name/project_name/billing/models.py-tpl
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/organizations/tests.py-tpl
  project_name/project_name/pages/migrations/0002_alter_pagetranslation_unique_together_and_more.py
  project_name/project_name/settings.py-tpl
  project_name/project_name/tenancy/README.md
  project_name/project_name/tenancy/__init__.py-tpl
  project_name/project_name/tenancy/admin.py-tpl
  project_name/project_name/tenancy/apps.py-tpl
  project_name/project_name/tenancy/context.py-tpl
  project_name/project_name/tenancy/decorators.py-tpl
  project_name/project_name/tenancy/managers.py-tpl
  project_name/project_name/tenancy/middleware.py-tpl
  project_name/project_name/tenancy/migrations/0001_initial.py
  project_name/project_name/tenancy/migrations/__init__.py
  project_name/project_name/tenancy/models.py-tpl
  project_name/project_name/tenancy/permissions.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tenancy/views.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/users/migrations/0002_alter_user_managers.py
  project_name/templates/tenancy/email/team_invitation.txt
Due: ruff, markdownlint

feat: add api tokens management to simplified multi-tenancy
  README.md
  SECURITY.md
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/organizations/README.md
  project_name/project_name/organizations/__init__.py-tpl
  project_name/project_name/organizations/admin.py-tpl
  project_name/project_name/organizations/apps.py-tpl
  project_name/project_name/organizations/decorators.py-tpl
  project_name/project_name/organizations/middleware.py-tpl
  project_name/project_name/organizations/migrations/0001_initial.py
  project_name/project_name/organizations/migrations/0002_initial.py
  project_name/project_name/organizations/models.py-tpl
  project_name/project_name/organizations/predicates.py-tpl
  project_name/project_name/organizations/rules.py-tpl
  project_name/project_name/organizations/services.py-tpl
  project_name/project_name/organizations/templatetags/__init__.py-tpl
  project_name/project_name/organizations/templatetags/org_permissions.py-tpl
  project_name/project_name/organizations/tests.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/tenancy/README.md
  project_name/project_name/tenancy/context.py-tpl
  project_name/project_name/tenancy/managers.py-tpl
  project_name/project_name/tenancy/middleware.py-tpl
  project_name/project_name/tenancy/migrations/0001_initial.py
  project_name/project_name/tenancy/models.py-tpl
  project_name/project_name/tenancy/permissions.py-tpl
  project_name/project_name/tokens/README.md
  project_name/project_name/tokens/__init__.py-tpl
  project_name/project_name/tokens/admin.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/apps.py-tpl
  project_name/project_name/tokens/auth.py-tpl
  project_name/project_name/tokens/migrations/0001_initial.py
  project_name/project_name/tokens/migrations/__init__.py
  project_name/project_name/tokens/models.py-tpl
  project_name/project_name/tokens/selectors.py-tpl
  project_name/project_name/tokens/services.py-tpl
  project_name/project_name/tokens/tests.py-tpl
Due: ruff, markdownlint

feat: adjust security policy to better handle public and private routes
  AGENTS.md
  README.md
  project_name/project_name/settings.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/urls.py-tpl
  project_name/project_name/users/decorators.py-tpl
  project_name/project_name/users/middleware.py-tpl
  project_name/project_name/users/tests.py-tpl
Due: ruff, markdownlint

feat: switch health endpoints from custom to django-health-checks
  project_name/project_name/core/api/tests/test_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/core/health.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/urls.py-tpl
  pyproject.toml
  uv.lock
Due: ruff

chore: backporting formatting
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tests.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/models.py-tpl
Due: ruff

chore: switch github actions to use a python script to generate project before running check commands
  .github/workflows/ci.yml
  dev/create_test_project.py
Due: ruff

chore: backporting formatting
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/flags/__init__.py-tpl
  project_name/project_name/flags/admin.py-tpl
  project_name/project_name/flags/apps.py-tpl
  project_name/project_name/flags/decorators.py-tpl
  project_name/project_name/flags/models.py-tpl
  project_name/project_name/flags/providers.py-tpl
  project_name/project_name/flags/services.py-tpl
  project_name/project_name/flags/templatetags/__init__.py-tpl
  project_name/project_name/flags/templatetags/flags.py-tpl
  project_name/project_name/flags/tests.py-tpl
  project_name/project_name/pages/apps.py-tpl
  project_name/project_name/pages/models.py-tpl
  project_name/project_name/pages/sitemaps.py-tpl
  project_name/project_name/pages/urls.py-tpl
  project_name/project_name/pages/views.py-tpl
  project_name/project_name/selectors.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
  project_name/project_name/tokens/auth.py-tpl
  project_name/project_name/tokens/models.py-tpl
  project_name/project_name/tokens/tests.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff

chore: backporting ty fixes
  project_name/project_name/tenancy/middleware.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/views.py-tpl
  project_name/project_name/tokens/api.py-tpl
  project_name/project_name/tokens/services.py-tpl
Due: ruff

chore: selectively allow scripts
  frontend/project_name/pnpm-workspace.yaml
Due: none

chore: fix the pnpm package manager
  frontend/project_name/package.json
  project_name/tests/e2e/package.json
Due: none

chore: fix pytest failing in ci
  project_name/project_name/settings.py-tpl
Due: ruff

fix: add dockerignore and dockerfile prod for fixing ci
  .dockerignore
  docker/Dockerfile.prod
Due: none

chore: fix Containerfile failing in ci
  docker/Dockerfile.prod
Due: none

feat: add better support for translations
  Justfile
  README.md
  project_name/project_name/core/management/__init__.py-tpl
  project_name/project_name/core/management/commands/__init__.py-tpl
  project_name/project_name/core/management/commands/translate_locale.py-tpl
  project_name/project_name/core/tests.py-tpl
  pyproject.toml
  uv.lock
Due: ruff, markdownlint

feat: add sentry sdk and set it up if dsn present
  project_name/.env.dist
  project_name/project_name/settings.py-tpl
  pyproject.toml
  uv.lock
Due: ruff

docs: add template improvement tasks
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

docs: make docs match reality/current state of project.
  DEPLOYMENT.md
  README.md
  SECURITY.md
Due: markdownlint

docs: remove completed feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: i18n urls ot use django builtins
  README.md
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/urls.py-tpl
Due: ruff, markdownlint

docs: remove next feedback task
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: extract strings out into i18n
  README.md
  project_name/project_name/core/forms.py-tpl
  project_name/project_name/core/templates/core/pages/coming_soon.html
  project_name/project_name/core/templates/core/pages/dashboard.html
  project_name/project_name/core/templates/core/pages/homepage.html
  project_name/project_name/core/templates/core/pages/newsletter/signup.html
  project_name/project_name/core/templates/core/pages/newsletter/success.html
  project_name/project_name/core/templates/core/pages/pricing.html
  project_name/project_name/core/templates/core/partials/footer.html
  project_name/project_name/core/templates/core/partials/newsletter/signup.html
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/core/views.py-tpl
  project_name/project_name/flags/decorators.py-tpl
  project_name/project_name/pages/views.py-tpl
  project_name/project_name/tenancy/services.py-tpl
  project_name/project_name/tenancy/views.py-tpl
  project_name/templates/error_base.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

feat: add formatting and lint checks to ansible test project script
  dev/01-test-project-template.yaml
Due: none

docs: remove task from feedback tasks
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

fix: fix ansible playbook formatting
  dev/01-test-project-template.yaml
Due: none

docs: add some more context to the template feedback
  docs/TEMPLATE_FEEDBACK_TASKS.md
Due: markdownlint

feat: use user language for the html lang attributes
  README.md
  project_name/project_name/core/tests.py-tpl
  project_name/templates/base.html
  project_name/templates/error_base.html
  project_name/templates/partials/chatwoot.html
Due: ruff, djlint-reformat, djlint-django, markdownlint

feat: enhance markdown sanitisation and rendering
  README.md
  project_name/project_name/core/tests.py-tpl
  project_name/project_name/pages/markdown_utils.py-tpl
  project_name/project_name/pages/templatetags/markdown_tags.py-tpl
  project_name/project_name/pages/tests.py-tpl
  project_name/project_name/pages/views.py-tpl
Due: ruff, markdownlint

feat: make the polar billing integration more cnocrete
  README.md
  SECURITY.md
  project_name/.env.dist
  project_name/project_name/billing/README.md
  project_name/project_name/billing/admin.py-tpl
  project_name/project_name/billing/migrations/0001_initial.py
  project_name/project_name/billing/migrations/0002_initial.py
  project_name/project_name/billing/models.py-tpl
  project_name/project_name/billing/selectors.py-tpl
  project_name/project_name/billing/services.py-tpl
  project_name/project_name/billing/tests.py-tpl
  project_name/project_name/billing/webhooks.py-tpl
  project_name/project_name/core/api/billing_v1.py-tpl
  project_name/project_name/core/api/views_v1.py-tpl
  project_name/project_name/selectors.py-tpl
  project_name/project_name/settings.py-tpl
  project_name/project_name/tenancy/tests.py-tpl
Due: ruff, markdownlint

fix: add missing import
  project_name/project_name/billing/webhooks.py-tpl
Due: ruff

chore: change order of test project ansible script
  dev/01-test-project-template.yaml
Due: none

Path conditions:
  ruff: any of: *.py, *.py-tpl, but not: **/migrations/*.py
  djlint-reformat: any of: *.html, *.html-tpl
  djlint-django: any of: *.html, *.html-tpl
  markdownlint: any of: *.md, but not: ai/**, .specify/**, .cursor/**, .claude/**
